<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%+ if already_generated %}
    <br>
    <h2>These images is alredy generated before</h2>
    {% endif %}

    
    <!-- <img src="/static/SavedData/cafe/cafe_00.png" alt="alternative text">
    <img src="/static/SavedData/cafe/cafe_01.png" alt="alternative text">
    <img src="/static/SavedData/cafe/cafe_02.png" alt="alternative text"> -->

    {% for i in range(3) %}

    <img src="/static/SavedData/{{name_of_folder}}/{{name_of_folder}}_0{{i}}.png" alt="alternative text">
        
    {% endfor %}
</body>
</html>
<!-- name_of_folder -->